# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Node
node_modules/

# React Build
dist/

# Python Cache
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log